* {
    box-sizing: border-box;
    font-family: 'Assistant', sans-serif;
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: black;
}

.overlay {
    z-index: 3301;
    flex: 0 0 auto;
    display: block;
}

.navbar {
    padding-bottom: 0;
    flex-flow: row nowrap;
    box-shadow: 0px 10px 25px rgba(3 3 3/ 50%);
    justify-content: flex-start;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0rem 1rem;
    white-space: nowrap;
}

.navbar-color {
    background-color: black;
    background-image: linear-gradient(135deg, #04caf7 6%, #8dd1da 100%);
}

.contanier {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.logo {
    padding-top: 0;
    padding-bottom: 0;
    flex: 0 0 auto;
    max-width: 75%;
    margin-right: 1.5rem;
    font-size: 1.66666667rem;
}

.img-adjusting {
    display: block;
    width: 7rem;
    height: 4.5rem;
    max-width: 100%;
    margin-top: -0.5rem;
}

.slogan-place {
    margin-left: 0.2rem;
    margin-right: auto;
}

.text {
    position: relative;
    display: block;
    font-size: 28px;
    font-weight: 700;
    line-height: 30px;
    margin-top: -1rem;
}

.q {
    margin-left: auto;
}

.search-container {
    background: #fff;
    height: 30px;
    border-radius: 30px;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.8s;
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .3),
        -4px -4px 6px 0 rgba(116, 125, 136, .2),
        inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}

.search-container:hover>.search-input {
    width: 200px;
}

.search-container .search-input {
    background: transparent;
    border: none;
    outline: none;
    width: 0px;
    font-weight: 500;
    font-size: 16px;
    transition: 0.8s;

}

.hide {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.search-container .search-btn .fas {
    color: #5cbdbb;
}

@keyframes hoverShake {
    0% {
        transform: skew(0deg, 0deg);
    }

    25% {
        transform: skew(5deg, 5deg);
    }

    75% {
        transform: skew(-5deg, -5deg);
    }

    100% {
        transform: skew(0deg, 0deg);
    }
}

.search-container:hover {
    animation: hoverShake 0.15s linear 3;
}

.adj-width {
    width: 100%;
}

.line {
    position: relative;
    display: block;
}

.line2 {
    line-height: 0;
    padding-top: 8px;
    padding-bottom: 8px;
}

.mx {
    margin-left: auto;
}

.nav-surf {
    display: flex !important;
    flex-basis: auto;
    min-width: 0;
    flex-grow: 1;
    align-items: center;
}

.navbar-nav {
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.flex-grow-1 {
    flex-grow: 1;
}

.nav-link {
    display: block;
    border-color: currentColor;
    padding-left: 0;
    padding-right: 0;
    margin: 0 1rem;
    padding-top: 0rem;
    padding-bottom: 1rem;
    border-bottom: 0.5rem solid transparent;
}

.active {
    display: block;
    border-color: currentColor;
    border-bottom: 0.5rem solid black;
    color: rgba(0, 0, 0, 0.9);
}

.container {
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    margin-bottom: 50px;

}

section {
    padding: 100px 200px;
    width: 100%;
    min-height: 89vh;
    background-image: url("../Images/Dark forest.jpg");
    background-position: center;
    background-size: cover;
    color: #eee
}

section h1 {
    font-size: 5.2em;
}

section p {
    margin: 2px;
    font-size: 1.5em;
    max-width: 26em;
}


footer {
    background-color: #8dd1da;
    color: white;
    padding: 20px;
    box-shadow: 0px 10px 25px rgba(1 1 1/ 60%);
    display: flex;
    justify-content: center;
}